.env
*.env

/output/*
!/output/.gitkeep

__pycache__/
*.py[cod]
*$py.class

*.so

venv/
env/
.env/
.venv/
myenv/
pip-log.txt
pip-delete-this-directory.txt

.vscode/
.idea/
*.swp
*.swo
*~

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db